body {
    background: #21243d;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
}

h1, h2 { font-weight: 700; }

/*--- --- Header --- ---*/
.lista-menu a { color: #fff; }
.lista-menu a:hover { color: #ffd17e; }
.active { color: #ffd17e !important; }
.buscar svg:hover { color: #ffd17e; }
.boton-toggler svg:hover { color: #ffd17e; }

.boton-ordenar {
    background: #21243d;
    border-radius: 100px; 
    color: #fff;
    font-weight: 700;
}

section.fondo-portada {
    background-image: url("../img/bkg-image-1.jpg");
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

button:focus { box-shadow: none !important; }
button.boton-ordenar:hover { color: #ffd17e; }
.titulo-portada { font-size: 100px; }
.navbar-toggler { border: none !important; }
.navbar-toggler:focus { box-shadow: none !important; }